name: "Build and Local App-Inspect"

on:
  pull_request:
    branches:
      - '*'
      - '*/*'
      - '**'

  workflow_dispatch:

jobs:
  pre-release:
    name: "Build and App-Inspect"
    runs-on: "ubuntu-latest"

    steps:
      - uses: VatsalJagani/splunk-app-action@v5.2.0
        with:
          app_dir: "TA_NetDocuments"
          use_ucc_gen: true
          app_utilities: "ucc_additional_packaging, logger"
          to_make_permission_changes: true
          local_app_inspect: true

      - uses: VatsalJagani/splunk-app-action@v5.2.0
        with:
          app_dir: "NetDocuments_App"
          to_make_permission_changes: true
          local_app_inspect: true
